body{
    background-color: #99c24D;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 900;
}

.letter{
    color: white;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    height: 100vh;
    width: 100vw;
    font-size: 15rem;
}
.dark{
    color: #1b1a1a;
}